<div class="container">
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="text-center">
      <img
        class="mb-4"
        src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png"
        style="width: 250px; height: 90px"
      />
      <h5 class="mb-3">
        <strong
          >Thank you for using our product. We're glad you're with us.</strong
        >
      </h5>
      <p class="mb-3">MDB Team</p>
      <a
        mdbBtn
        color="primary"
        size="lg"
        href=" https://mdbootstrap.com/docs/b4/angular/"
        target="_blank"
        role="button"
        >MDB Angular Docs</a
      >
    </div>
  </div>
</div>
